/*reset */
* {
  /* border: 1px solid black; */
  margin: 0;
}

.App {
  text-align: center;
}
.postCard {
  background-color: white;
  margin: auto;
  margin-top: 8px;
  width: 91%;
  /* height: 150px; */
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 700px;
  margin: auto;
  box-sizing: border-box;
}

.searchButtons button {
  height: 50px;
  width: 100px;
  background-color: white;
  border-radius: 5px;
}



.main {
  background-color: #004aad;
  padding-bottom: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  /* padding-bottom: 0px; */
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  text-align: left;
}
.headerAlign {
  display: flex;
}
.title {
  margin: 0px 5px;
  font-family: 'Open Sans', sans-serif;
}
#redditIcon {
  margin-top: 5px;
  
}
.search {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  
}
.searchBar {
  background-color: white;
  height: 50px;
  width: 48%;
  display: flex;
  border-radius: 5px;
}
.searchBar input {
  height: 24px;
  width: 200px;
  margin: auto;
}
.searchBar button {
  height: 30px;
  margin: auto;
}
.searchButtons {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.searchResultsTitle{
  color: white;
}
.postTitle{
  
  font-size: 16px;
  font-weight: bold;
}
/* .imageContainer{
 
}
.thumbnailImg {
  max-width: 100%;
  max-height: 100%;
  display: block;
} */