/*reset */
* {
  /* border: 1px solid black; */
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.postCard {
  background-color: white;
  margin: auto;
  margin-top: 8px;
  width: 92%;
  border-radius: 5px;
  display: flex;
  text-align: left;
  padding: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 700px;
  margin: auto;
}

.searchButtons button {
  height: 50px;
  width: 100px;
  background-color: white;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}

.main {
  background-color: #004aad;
  padding-bottom: 15px;
  margin-block-start: 55px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  text-align: left;
  position: fixed;
  top: 0;
  width: 700px;
  z-index: 100;
}

.headerAlign {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.title {
  margin-left: 5px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

#redditIcon {
  margin-top: 5px;
  margin-right: 20px;
}

.search {
  display: flex;
  width: 95%;
  margin: auto;
  padding: 20px 10px;
  justify-content:space-between;
}

.searchBar {
  background-color: white;
  height: 50px;
  width: 48%;
  display: flex;
  border-radius: 5px;
}

.searchBar input {
  height: 30px;
  width: 200px;
  margin: auto;
}

.searchBar button {
  height: 30px;
  margin: auto;
  cursor: pointer;
}

.searchButtons {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.searchResultsTitle{
  color: white;
  padding-bottom: 10px;
}

.postTitle{
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.textContainer{
  width: 75%;
  padding: 5px;
  display:inline-block;
  align-content: space-between;
}

.postHeader{
  display: flex;
  font-size:medium;
  color: gray;
}

.postFooter{
  display: flex;
  font-size: medium;
  color: gray;
}

#comments{
  margin-left: 10px;
  
}

.postLink{
  font-size: small;
  border-radius: 5px;
  padding: 4px 8px;
  background-color: lightblue;
  color: white;
}
.postLink:link{
  text-decoration: none;
}

/* .fadeInPost{
  animation: fadeIn 3s;
}

@keyframes fadeIn{
  0% { opacity: 0; }
  100% { opacity: 1; }
} */

@media only screen and (max-width: 580px) {
  body {
    width: 100%;
  }

  .search{
    display:block;
  }

  .postCard{
    display: block;
  }
  .postLink{
    font-size: medium;
  }
  
  .textContainer{
    width: 100%;
    padding: 5px;
    display:inline-block;
    align-content: space-between;
  }
  
  .imageContainer{
    width: 100%;
  
  }
  .thumbnailImg{
    width: 100%;
  }
  .searchButtons{
    width: 100%;
    
  }
  .searchBar{
    width: 100%;
    margin-top: 15px;
  }
  .searchButtons button {
    width: 31%;
    font-size:large;
  }

  .searchBar input {
    width: 70%;
  }
  
  .header {

    width: 100%;
  }
  #redditIcon {
    position: fixed;
    left:360px;
  }
}